body{
	color: #333;
	background: #333;
	font-family: "Helvetica", Arial;
	font-size: 16px;
	text-align: center;
}
form
{
	background: #CCC;
	margin: 1em auto;
	padding: 1em;
	width: 460px;
}
form input
{
	font-size: 16px;
	width: 400px;
}
ul{
  	background: #EEE;
	list-style: none;
}

#formulario{
	position:bottom;
	display:-moz-box;
	width: 460px;
	margin-top: -5px;
	padding: 0px;
}

#chat_completo{
	border-radius: 1em;
	background: #CCC;
	width: 500px;
	float: left;
	padding-left: 10px;
}


#chat{
	border-radius: 1em;
	width: 315px;
  	background: #EEE;
	height: 400px;
	overflow-y: scroll;
	float: left;
	margin-top: 16px;
	margin-left: 5px;
	padding: 5px;
}

#lusuarios{
	border-radius: 1em;
	padding: 5px;
	height: 400px;
	width: 150px;
	float: left;
}

#user_text{
	border-radius: 5px;
}


td.datacellone {
	background-color: #CC9999; color: black;
}
td.datacelltwo {
	background-color: #9999CC; color: black;
}