#pizarra { 
	border:1px solid;
	border-color:#EEEEEE;
	float:left;
	background-color:#fff;
	margin-left: 12px;
	border-radius: 1em 0em 1em 1em;
}

#borrar_bt{
	text-decoration:none;
	color:#000;
	font-weight:bold; 
	float: left;
	border:3px solid;
	border-color: #aaa;
	background-color:#ddf;
	padding: 4px;
}
.main_container{
	float:none;
}

.main_container .colors_container{
	border:3px solid;
	border-color:#DDDDDD;
	float:left;
}

#color_clear{
	float: left;
}

.main_container .colors_container div {
	width:20px;
	height:20px;
	float:left;
}
.main_container .colors_container #buttonRed { background-color:#FF0000;}
.main_container .colors_container #buttonBlue { background-color:#0000ff;}
.main_container .colors_container #buttonBlack {	background-color:#000000;}
.main_container .colors_container #buttonyellow{ background-color:#FFFF00;}
.main_container .colors_container #buttonmaroon { background-color:#691F01;}
.main_container .colors_container #buttonorange { background-color: #FF8000}
.main_container .colors_container #buttonterreverte { background-color: #385E0F}
.main_container .colors_container #buttonviolet { background-color: #9900CC}
.main_container .colors_container #buttonlima { background-color: #00FF00}

#reloj1 {
  float:right;
  background-color: red;
}

#contenedor_pizarra
{
	float:left;
	width: 615px;
}

#canvas_trazo { 
	border:1px solid;
	border-color:#EEEEEE;
	float:left;
	background-color:#fff;
	margin-left: 12px;
	border-radius: 2em;
}

#rango_trazo
{
	vertical-align: middle;
	float:left;
}

#div_trazo
{
	float:left;
	width:210px;
	height:60px;
}